.content {
    text-align: center;
    margin-top: 30px;
}

.movie-placeholder {
    width: 100px;
    height: 150px;
    background-color: #ddd;
    border-radius: 10px;
    display: inline-block;
}

.subscription-placeholder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    display: inline-block;
}
